.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 10px auto 10px 20px;
}

.content {
    display: flex;
   gap: 10px;
}


.input {
    width: 250px;
    border: 1px solid rgba(11, 11, 11, 0.872);
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}